body
{
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Arial';
    font-variant: small-caps;
}
li
{
    padding: 10px;
}
table
{
    border: solid 2px white;
}
th
{
    border: solid 2px white;
}
td
{
    border: solid 1px white;
}
li
{
    padding: 10px;
}
a:hover
{
    color: aquamarine
}
navibar
{
    padding: 20px; allign: left; border-bottom: white solid 1px; margin: 15px
}
a
{
    color: aqua; text-decoration: none
}
.forms
{
    align:center;
    position: fixed;
    left: 38%;
}
.tables
{
    position: fixed;
    left:35%;
    float: right;
}