<!DOCTYPE html>
<html lang="en" xmlns:th="hhtp://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>customer</title>
    <link rel="stylesheet" href=".../static/css/style.css"
          th:href="@{/css/style.css}" media="screen"/>
</head>
<body>
<div class="navibar">
    <a href="/customer/all">Back to manage</a>
</div>
    <ul >
        <li>Id:
            <div th:text="${customer.id}">Richard</div>
        </li>
        <li>First name:
            <div th:text="${customer.firstName}">Richard</div>
        </li>
        <li>Last name:
            <div th:text="${customer.lastName}">Ros</div>
        </li>
        <li>Adress:
            <div th:text="${customer.addressLine}">street</div>
        </li>
        <li>Email:
            <div th:text="${customer.email}">@gmsil.com</div>
        </li>
        <li>Phone:
            <div th:text="${customer.phoneNumber}"> 783733722</div>
        </li>
        <li>Zip Code:
            <div th:text="${customer.zipCode}">2331</div>
        </li>
        <li>City:
            <div th:text="${customer.city}">Westworld</div>
        </li>
    </ul>
</body>
</html>