<!DOCTYPE html>
<html lang="en" xmlns:th="hhtp://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>customer</title>
    <link rel="stylesheet" href=".../static/css/style.css"
          th:href="@{/css/style.css}" media="screen"/>
</head>
<body>
<div class="navibar">
    <a href="/customer/all">Back to manage</a>
</div>
    <ul >
        <li><b>Id:</b>
            <div th:text="${customer.id}">Richard</div>
        </li>
        <li><b>First name:</b>
            <div th:text="${customer.firstName}">Richard</div>
        </li>
        <li th:text="${customer.lastName}">Last name:
            <div >Ros</div>
        </li>
        <li><b>Adress:</b>
            <div th:text="${customer.addressLine}">street</div>
        </li>
        <li><b>Email:</b>
            <div th:text="${customer.email}">@gmsil.com</div>
        </li>
        <li><b>Phone:</b>
            <div th:text="${customer.phoneNumber}"> 783733722</div>
        </li>
        <li><b>Zip Code:</b>
            <div th:text="${customer.zipCode}">2331</div>
        </li>
        <li><b>City:</b>
            <div th:text="${customer.city}">Westworld</div>
        </li>
    </ul>
</body>
</html>