<!DOCTYPE html>
<html lang="en" xmlns:th="hhtp://www.thymeleaf.org">
<link rel="stylesheet" href=".../static/css/style.css"
      th:href="@{/css/style.css}" media="screen"/>
<head>
    <meta charset="UTF-8">
    <title>WebApp</title>
</head>
<body>
    <h2> Welcome to my first web app</h2>
    <div th:if="${visitor != null}">
        <h3 th:text="'Welcome: ' + ${visitor} + "> Welcome John</h3>
    </div>
<div>
    <a href="/customer/all">Show Customers</a>
</div>
    <div>
        <a href="/product/all">Show Products</a>
    </div>
</body>
</html>